*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
}

strong{
    color: #1913a2;
}

div{
    display: inline-block;
}

#seccion-superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

#left-side .elements-wrapper,#middle-side,#right-side,#bottom-side,#description-column,.description-row{
    height: fit-content;
    display: flex;
    flex-wrap: wrap-reverse;
    outline: 1px dotted black;
}

#description-row{
    flex-direction: column-reverse;
    width: 100%;
}

#description-row .element{
    background-color: transparent;
}

#description-column{
    flex-direction: column-reverse;
    width: fit-content;
}

#description-column .element, .description-row .element{
    background-color: transparent;
}

#left-side{
    width: 110px;
    display: flex;
    flex-direction: column-reverse;
}

#left-side .elements-wrapper .element{
    background-color: #689bff;
}

#middle-side{
    width: 550px;
}

#middle-side .element{
    background-color: #fd9a98;
}

#right-side{
    width: 330px;
    justify-content: flex-end;
}

#right-side .element{
    background-color: #fecb00;
}

#seccion-inferior{
    width: 100%;
    display: flex;
}

#bottom-side{

}

#bottom-side .element{
    background-color: #1fca21;
}

#description-wrapper span{
    display: block;
}

.element{
    width: 50px;
    height: 55px;
    margin: 1px;
    border: 1px solid #000;
    text-align: center;
}

.n-atomico,.masa-atomica,.simbolo{
    display: block;
}

.description{
    color: #f00;
}

